html, body {
	display:block;
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

canvas {
	position:absolute;
	display:block;
	width:100%;
	height:100%;

	z-index:0;

	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

.controls,
.controls * {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

.controls {
	position:absolute;
	top:0;
	right:0;
	width:220px;
	z-index:1;
	padding:10px;
	background-color:rgba(255,255,255,0.5);
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.controls h1 {
	font-size:14px;
	line-height:14px;
	margin:0 0 10px;
	padding:0;
	text-transform:uppercase;
}

.controls label {
	display:block;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

.controls input {
	width:200px;
	margin:2px 0;
}
