html, body {
	display:block;
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#fff;

	background:#1a1a1a;
}

canvas {
	position:absolute;
	display:block;
	width:100%;
	height:100%;

	z-index:0;

	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

.controls,
.controls * {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

.controls {
	position:absolute;
	top:0;
	right:0;
	width:220px;
	z-index:1;
	padding:10px;
	background-color:rgba(255,255,255,0.1);
}

.controls[data-minimize] label,
.controls[data-minimize] input {
	display:none;
}

.controls h1 {
	position:relative;
	font-size:14px;
	line-height:14px;
	margin:0 0 10px;
	padding:0;
	text-transform:uppercase;
	cursor:pointer;
}

.controls .inner-container {
	position:relative;
}

.controls h1:after {
	content:'-';
	position:absolute;
	display:block;
	top:0;
	right:0;
}

.controls[data-minimize] h1:after {
	content:'+';
}

.controls label {
	display:block;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

.controls input {
	position:relative;
	display:block;
	width:100%;
	margin:2px 0;
}

.controls div {
	font-size:10px;
}

@media screen and (max-width:640px) {
	.controls {
		width:100%;
		border-left:none;
	}

	.controls input[type="range"]::-webkit-slider-thumb {
		width:30px;
		height:30px;
	}
}
